# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/data
/CachedData
/User
/logs
/Cache
/GPUCache
/CachedExtensions
/Backups
/Local Storage
/log
/libs

# dependencies
/node_modules
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# jest coverage
/coverage

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
.npmrc
/Workspaces
workspace.json

# System Files
.DS_Store
Thumbs.db

# Test files - executions
jmeter.log